<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="xml suite">
    <listeners>
        <listener class-name="listener.TestListener"/>
    </listeners>
    <test name="Variant1Yanushkevich">
        <classes>
            <class name="test.FinalTest"/>
        </classes>
    </test>
</suite>